$input-border-color: #677a8e;
$input-bg-color: #677a8e;
$checkbox-icon: #4f4b46;
$white: #fff;
$label-not-radio-color: #efefef;
$black: #000;

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0")
      format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0")
      format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0")
      format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0")
      format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular")
      format("svg");
}
.checkbox-group {
  h4 {
    display: inline-block;
    margin-right: 15px;
    vertical-align: sub;
    margin-bottom: 0;
  }
  .radio-group {
    margin: 0;
  }
  > label:not(.checkbox-radio) {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 52px;
    margin-bottom: 15px;
    min-height: 40px;
    font-size: 16px;
    background-color: $label-not-radio-color;
    padding: 13px;
    border-radius: 21px;
    &:hover {
      background-color: darken($label-not-radio-color, 4%);
    }
    @media (min-width: 768px) {
      width: 366px;
    }
    span {
      margin-left: 40px;
      font-weight: 500;
    }
    span::before {
      content: "";
      border: 1px solid $input-bg-color;
      background: $input-bg-color;
      width: 30px;
      height: 30px;
      border-radius: 15px;
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
    }
    :checked + span::before {
      background-color: $input-bg-color;
      border-color: $input-bg-color;
    }
    :checked + span::after {
      font-family: "FontAwesome";
      font-size: 21px;
      content: "\f00c";
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;
      color: $white;
    }
  }
}

.checkbox-square {
  .radio-group {
    margin: 0;
  }
  input[type="checkbox"] {
    position: absolute;
    left: -9999px;
  }
  > label:not(.checkbox-radio) {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 52px;
    margin-bottom: 15px;
    min-height: 40px;
    font-size: 16px;
    padding: 13px;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    span {
      margin-left: 40px;
      font-weight: 500;
    }
    :not(:checked) + span::after {
      font-family: "FontAwesome";
      font-size: 21px;
      content: "\f067";
      position: absolute;
      left: 17px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;
      color: $black;
    }
    span::before {
      content: "";
      width: 30px;
      height: 30px;
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
    }

    :checked + span::before {
      font-family: "FontAwesome";
      font-size: 21px;
      content: "\f068";
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;
      color: $black;
    }

    :checked + span::after {
      font-family: "FontAwesome";
      font-size: 21px;
      content: "\f068";
      position: absolute;
      left: 17px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;
      color: $black;
    }
  }
}
.checkbox-group,
.checkbox-square {
  input[type="checkbox"] {
    position: absolute;
    left: -9999px;
  }
}
.checkbox-list {
  li {
    list-style: none;
    margin-bottom: 30px;
  }
  label {
    display: none !important;
  }
  h4,
  button {
    margin-bottom: 20px;
    display: inline-block;
  }
  h4 {
    margin-right: 20px;
  }
}
.nested-list {
  list-style: none;
  padding-left: 0;
  li {
    list-style: none;
  }

  select {
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    display: inline-block;
    margin: 10px 0;
    border-radius: 5px;
    padding: 8px 20px;
    background-color: $white;
    border: 1px solid $input-bg-color;
    line-height: 42px;
    height: 42px;
    width: 100%;
  }
}
