$input-border-color: #677a8e;
$input-bg-color: #677a8e;
$input-hover-color: #eaf0f7;
$white: #fff;

.radio-group {
  > div {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    flex-flow: column;
    position: relative;
    box-sizing: inherit;
  }

  label:not(.radio-list-container) {
    display: inline-block;
    cursor: pointer;
    line-height: 1.5;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;

    &:hover > span {
      background-color: $input-hover-color;
    }

    + label {
      margin-left: 41px;
    }

    input:checked + span {
      background-color: $input-bg-color;
      border-color: $input-border-color;
      color: $white;
    }

    input[type="radio"] {
      position: absolute;
      left: -9999px;
      margin: 0;
    }

    &:first-child > span {
      border-top-left-radius: 18px;
      border-bottom-left-radius: 18px;
    }

    &:last-child > span {
      border-top-right-radius: 18px;
      border-bottom-right-radius: 18px;
    }

    span {
      display: inline-block;
      border: 1px solid $input-border-color;
      width: 100%;
      text-align: center;
      font-size: 16px;
      padding: 8px 20px;
    }
  }

  .checkbox-radio span {
    font-size: 15px;
    padding: 12px 9px;
    @media (min-width: 375px) {
      font-size: 16px;
      padding: 12px 17px;
    }
    @media (min-width: 425px) {
      font-size: 16px;
      padding: 12px 29px;
    }
  }
}
