$deep-grey: #333;
$deep-grey1: #4f4b46;
$deep-grey2: #6b6b6b;
$grey: #677a8e;
$grey2: #c3c3c3;
$light-grey: #eeeeee;
$light-green: #f3faec;
$green: #6dca7f;
$white: #fff;
$black: #000;
$header-primary-color: #dafdc5;
$font-color-primary: #6b6b6b;
$accordian-bg: #e4e4e4;
$accordian-border-color: #cecece;
$sand: #fafafa;
$selected: #ccddf0;
